@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'lato-reg';
  src: url('../fonts/Lato-Regular.ttf');
}


body {
	font-family: 'lato-reg';
}